*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

/* Header */
header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:#020617;
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:600;
    color:#38bdf8;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:15px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}


section{
    padding:110px 10%;
    min-height:100vh;
}

.home{
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(135deg,#020617,#0f172a);
}

.home-container{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    flex-wrap:wrap;
}

.home-content{
    flex:1;
}

.home-content h1{
    font-size:80px;
}

.home-content span{
    color:#38bdf8;
}

.home-content p{
    margin:15px 0 40px;
    color:#cbd5f5;
}

.home-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.home-image img{
    width:380px;
    height:380px;
    object-fit:cover;
    border-radius:10px;
    border:4px solid #38bdf8;
    box-shadow:0 0 30px rgba(56,189,248,0.4);
}

.btn{
    text-decoration:none;
    padding:12px 28px;
    background:#38bdf8;
    color:#020617;
    border-radius:25px;
    font-weight:600;
}

.about h1,
.skills h1,
.projects h1,
.contact h1{
    font-size: 50px;
    text-align:center;
    margin-bottom:30px;
    color:#38bdf8;
}

/* About */
.about p{
    font-size:x-large;
    max-width:1300px;
    margin:auto;
    line-height:2.6;
    text-align:center;
    color:#cbd5f5;
}

/* Skills */
.skill-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:18px;
}

.skill{
    padding:14px 26px;
    background:#020617;
    border-radius:8px;
    transition:0.3s;
}

.skill:hover{
    transform:translateY(-8px);
    background:#38bdf8;
    color:#020617;
}

/* Projects */
.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.project-card{
    background:#020617;
    padding:25px;
    border-radius:10px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);
    border:1px solid #38bdf8;
}

.project-card h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.project-card p{
    color:#cbd5f5;
}

/* Contact */
.contact form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact input,
.contact textarea{
    padding:12px;
    border:none;
    border-radius:6px;
    outline:none;
}

.contact button{
    padding:12px;
    border:none;
    border-radius:25px;
    background:#38bdf8;
    font-weight:600;
    cursor:pointer;
}

#msg{
    text-align:center;
    margin-top:15px;
    color:#38bdf8;
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    background:#020617;
    color:#94a3b8;
}

/* Responsive */
@media(max-width:768px){
    .home-container{
        flex-direction:column-reverse;
        text-align:center;
    }
}